In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import os
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import linear_model
%matplotlib inline
plt.style.use('seaborn')

In [2]:
ais = pd.read_csv('../bigdata/ais-observations-1-week-20180315.csv', parse_dates = ['timestamp'])
ais = ais.sort_values(by=['timestamp'])
ais.head()

,timestamp,mmsi,lon,lat,sog,cog,heading
2263440,2018-03-14 23:59:59.064,276776000,21.473023,61.126297,0.0,63.7,323
2263441,2018-03-14 23:59:59.066,230992260,21.472692,61.127272,0.0,268.4,184
2263442,2018-03-14 23:59:59.067,230992660,28.877223,61.877110,0.0,0.0,511
2263443,2018-03-14 23:59:59.074,230115340,21.464200,61.594145,0.0,198.4,264
2263444,2018-03-14 23:59:59.089,230052840,28.386033,61.608773,0.0,1.6,1

In [3]:
#Aura 230601000
#BBC Virginia 305463000
#Kiisla 230956000
#Sisu 230289000
#Ymer 265066000
df = ais[(ais['mmsi'].isin([230601000, 305463000, 230956000, 230289000, 265066000])) & 
            (ais['timestamp'] >= '2018-03-19 00:00:00') &
            (ais['timestamp'] < '2018-03-20 00:00:00')]

In [4]:
len(df)

99063

In [5]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
from datetime import datetime
plotly.tools.set_credentials_file(username='timole', api_key='...')

In [6]:
trace0 = go.Scatter(
    x = df[df['mmsi'] == 230289000].timestamp,
    y = df[df['mmsi'] == 230289000].sog,
    mode = 'lines',
    name = 'sisu'
)

trace1 = go.Scatter(
    x = df[df['mmsi'] == 230601000].timestamp,
    y = df[df['mmsi'] == 230601000].sog,
    mode = 'lines',
    name = 'Aura'
)

trace2 = go.Scatter(
    x = df[df['mmsi'] == 305463000].timestamp,
    y = df[df['mmsi'] == 305463000].sog,
    mode = 'lines',
    name = 'BBC'
)

In [7]:
data = [trace0, trace1, trace2]
py.iplot(data)

The draw time for this plot will be slow for clients without much RAM.

C:\Users\timole\AppData\Local\Continuum\anaconda3\lib\site-packages\plotly\api\v1\clientresp.py:40: UserWarning:

Estimated Draw Time Slow